# Ignore the node_modules directory
node_modules/
.git
#.gitignore
# Ignore Configuration

etc/key/*pem*
etc/key/*ppk*
etc/key/*flavio*
etc/key/*rsa*
test/*.js
db/*.txt
output*.json
*.sql
*.ext
test/*
# Ignore Logs
logs
*.log
log/*
.~lock.*

# Ignore the build directory
/dist

# The file containing environment variables 
.env
.env.js
.env.json
.env-cmdrc

# Ignore IDE specific files
.idea/
.vscode/
*.sw*

*t.json
*.zip
*.cmd
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log

.babelrc

.editorconfig

.eslintignore

.eslintrc

.eslintrc.json

babel

babel-doctor

babel-doctor.cmd

babel-external-helpers

babel-external-helpers.cmd

babel-node

babel-node.cmd

babel.cmd

.yo-rc.json

mocha

mocha.cmd

*.lock

package-lock.json

build/config.gypi


