extends layout

block content
  .container
    h1.mt-4.mb-3 Welcome to #{title}
    p.lead Verifica IBAN Persona Giuridica:

    if errorMessage
      .alert.alert-danger(role='alert')
        strong Errore:
        | #{errorMessage}

    form(method='POST', action='/checkIban/single')
      .it-form-group
        label.it-label(for='iban') IBAN
        input#iban.it-input(type='text', name='iban', placeholder='Inserisci IBAN', required)

      .it-form-group
        label.it-label(for='vatCode') Partita IVA
        input#vatCode.it-input(type='text', name='vatCode', placeholder='Inserisci Partita IVA')

      button.btn.btn-primary(type='submit') Verifica IBAN

    if result
      h2.mt-5 Risultato API PagoPA
      pre.bg-light.p-3.border.rounded= JSON.stringify(result, null, 2)
