extends layout

block content
  .container
    h1.mt-4.mb-3 Welcome to #{title}
    p.lead Verifica:

    form(method='POST', action='/checkIban/massiveVerifica', class='form-horizontal')
      .form-group
        label(for='bulkRequestId', class='control-label col-sm-2') bulkRequestId:
        .col-sm-10
          input.form-control(type='text', name='bulkRequestId', id='bulkRequestId', placeholder='Inserisci bulkRequestId')
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-primary(type='submit') Verifica bulkRequestId

    if result
      h2.mt-5 Risultato API PagoPA
      pre.bg-light.p-3.border.rounded= JSON.stringify(result, null, 2)
