.it-header-slim-wrapper
  .it-header-slim
    .container
      .d-flex.flex-column.flex-md-row.justify-content-between.align-items-center.py-2
        a.it-header-slim-logo(href="/")
          img(src="https://www.csea.it/wp-content/uploads/logo/csea-logo.svg", alt="CSEA", height="40")
        nav.mt-2.mt-md-0
          ul.it-header-slim-right-zone-list.d-flex.flex-column.flex-md-row.align-items-md-center.gap-3.mb-0
            li
              a.it-link(href="/") Home
            li
              a.it-link(href="/checkIban/singlePage") IBAN Singolo
            li
              a.it-link(href="/checkIban/massive") IBAN Massivo
            li
              a.it-link(href="/checkIban/massiveVerificaPage") Verifica Massiva
