extends layout

block content
  h1= title
  p Welcome to #{title}
    nav
    ul
      li
         a(href="/checkIban/single") Check Iban Single        - Legge Risposta - in progress
      li
        a(href="/checkIban/Massive") Check Iban Massively - Legge Risposta
        