doctype html
html(lang="it")
  head
    title= title || "CheckIban Page"
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-italia@2.6.1/dist/css/bootstrap-italia.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(defer src="https://cdn.jsdelivr.net/npm/bootstrap-italia@2.6.1/dist/js/bootstrap-italia.bundle.min.js")
  body
    include header
    main.it-main-container
      .it-page-content.container-fluid.mt-4
        block content
    include footer
